# Make this unique, and don't share it with anybody.
SECRET_KEY = 'your_secret_key'

# The username and password for a user that can add and
# edit layer details on GeoServer
GEOSERVER_CREDENTIALS = "username", "password"

# CSW settings
CATALOGUE = {
    'default':{
        'USER': 'username',
        'PASSWORD': 'password',
    }
}


#Database datastore connection settings
DB_DATASTORE_DATABASE = ''
DB_DATASTORE_USER = ''
DB_DATASTORE_PASSWORD = ''
DB_DATASTORE_HOST = ''
DB_DATASTORE_PORT = ''
DB_DATASTORE_TYPE = ''
DB_DATASTORE_NAME = ''
